<div class="border shadow-hover">
  <div class="card-grid">
    <label>The word/fraze: </label>
    <span>Lorem ipsum dolor sit amet</span>
    <label>Definition: </label>
    <textarea class="text-field shadow-focus definition"></textarea>
  </div>
  <div class="column">
    <div class="row space-between margin-bottom-1">
      <label>Who sent</label>
      <span>Some user</span>
      <label>Is right</label>
      <span>right</span>
    </div>
    <input type="submit" class="btn btn-submit shadow-hover">
  </div>
</div>
